var resultado = document.querySelector(".resultado")
var img = "https://www.joblo.com/assets/images/joblo/database-specific-img-225x333.jpg"

var igredients = [] 
<% for i in 1..20 %>
  <% if @meal_resul["strIngredient#{i}"].present? %>
    igredients.push("<%= @meal_resul["strIngredient#{i}"] %>")
  <% else %>
    <%break%>
  <% end %>
<% end %>

  var html =`

      <div>

        <img src="<%= @meal_resul['strMealThumb']%>" alt="<%= @meal_resul['strMeal']%>" style="width:30%">

        <p><strong>Category:</strong>  <%= @meal_resul['strCategory']%></p>
        <p><strong>Area:</strong> <%= @meal_resul['strArea']%></p>
        <p><strong>Tags:</strong>  <%= @meal_resul['strTags']%></p>

        <div>
          <h5>Ingredients:</h5>
          <ul>
            ${igredients.map(igredients => `<li> - ${igredients}</li>`).join('')}
          </ul>
        </div>

      </div>
      
      <div class="row">
        <h3><%= @meal_resul['strMeal']%></h3>
        <p><%= @meal_resul['strInstructions']%></p>
      </div>

      <iframe width="420" height="315"src="<%= @meal_resul['strYoutube']%>">
      </iframe>

  `
resultado.innerHTML = html